# Ignore virtual environment
venv/

# Ignore database files
*.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore environment variables
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore cache files
__pycache__/
